/*  -------- HTML, BODY VALUES -------- */
html, body {
    font-family: 'Poppins', sans-serif;
	text-rendering: optimizeLegibility; 
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*  -------- NAVIGATION -------- */
.logo { height: 12vh;}
   
nav { background-color: #cba052;}

.navbar-light .navbar-toggler { border-color: transparent;}
    
.navbar-light .navbar-toggler { outline: none;}

.navbar-light .navbar-nav .active>.nav-link { color: #fff;}

.navbar-light .navbar-nav .nav-link { color: #fff;}

.navbar-light .navbar-nav .nav-link:hover { color: rgb(240, 233, 233);}
   
/*  -------- MAIN -------- */
main  {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0.7, 0.7, 0.7, 0.7)),  url("../img/bg-img");
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.border-text-one { 
    border: 1px solid #cba052;
    outline: none!important;
}

.border-text-one:hover{
    background-color: #cba052;
    color: #FBEAEB;
    cursor: pointer;
}

.btn:focus { outline: none!important;}

.btn:hover {
    background-color: #b48736;
    color: #FBEAEB;
    cursor: pointer;
}

/*  -------- REUSABLE COMPONENTS-------- */
.donate-bg-one { background-color: #cba052;}
.donate-bg-two { background-color: #FBEAEB;}
.donate-text-one { color: #cba052;}
.donate-text-two { color: #FBEAEB;}

.img-quote{
    height: 1.5em;
    width: 1.5em;
}

#quote {
    padding-bottom: 3rem;
}

.quote-icon { color: #cba052;}


/*  -------- FOOTER -------- */

footer { 
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0.7, 0.7, 0.7, 0.7)),  url("../img/bg-img");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }

textarea { resize: none;}